<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 20px;
            min-height: 60vh;
            box-sizing: border-box;
        }

        .register-form {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 500px;
            height: 300px;
            margin-top: 20px;
            box-sizing: border-box;
        }

        .register-form h2 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
            text-align: center;
        }

        .register-form input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .register-form button {
            background-color: #000000;
            color: white;
            padding: 10px 0;
            width: 100%;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
        }

        .register-form button:hover {
            background-color: #dfdfdf;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="register-form">
            <h2>Регистрация</h2>
            <form action="/register" method="post">
                <input type="text" name="name" placeholder="Име" required>
                <input type="email" name="email" placeholder="Имейл" required>
                <input type="password" name="password" placeholder="Парола" required>
                <button type="submit">Регистрирай се</button>
            </form>
        </div>
    </div>
</body>

</html>