<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Catalog Page</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  </head>

  <body>

    <nav>
      <ul class="menu">
        <li><a href="/">My list</a></li>
        <li><a href="/movies/create">Create Post</a></li>
        <li><a href="/movies/search">Search</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>

    </nav>

    <main>
      {{{body}}}
    </main>

    <footer class="footer">
      <div class="footer-container">

        <div class="footer-section">
          <h3>Contact</h3>
          <p><i class="fas fa-map-marker-alt"></i> София, България</p>
          <p><i class="fas fa-envelope"></i> info@booklibrary.com</p>
          <p><i class="fas fa-phone"></i> +359 888 123 456</p>
        </div>

        <div class="footer-section">
          <h3>Follow</h3>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
          </div>
        </div>

      </div>

      <div class="footer-bottom">
        © 2025 Booklibrary. Всички права запазени.
      </div>
    </footer>

  </body>

</html>